@import 'colors';

.menu-button-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button1 {
    background: $secondary-100;
}
.button2 {
    background: $secondary-200;
}
.button3 {
    background: $secondary-300;
}
.button4 {
    background: $secondary-400;
}
.button5 {
    background: $secondary-500;
}
.button6 {
    background: $secondary-600;
}
.button7 {
    background: $secondary-700;
}
.button8 {
    background: $secondary-800;
}
.button9 {
    background: $secondary-900;
}

.button1p {
    background: $primary-100;
}
.button2p {
    background: $primary-200;
}
.button3p {
    background: $primary-300;
}
.button4p {
    background: $primary-400;
}
.button5p {
    background: $primary-500;
}
.button6p {
    background: $primary-600;
}
.button7p {
    background: $primary-700;
}
.button8p {
    background: $primary-800;
}
.button9p {
    background: $primary-900;
}
